xsd/admi.002.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Standards Editor (build:R1.0.41.3) on 2013 May 27 09:49:00, ISO 20022 version : 2013-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:admi.002.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:admi.002.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="admi.002.001.01" type="admi.002.001.01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODateTime">
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="Max20000Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="20000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max350Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max35Text">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageReference">
        <xs:sequence>
            <xs:element name="Ref" type="Max35Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionReason2">
        <xs:sequence>
            <xs:element name="RjctgPtyRsn" type="Max35Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RjctnDtTm" type="ISODateTime"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ErrLctn" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="RsnDesc" type="Max350Text"/>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlData" type="Max20000Text"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="admi.002.001.01">
        <xs:sequence>
            <xs:element name="RltdRef" type="MessageReference"/>
            <xs:element name="Rsn" type="RejectionReason2"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
