xsd/messages_urn_iso_std_iso_20022_tech_xsd_pacs_009_001_08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:c9="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gefeg="http://www.gefeg.com/public"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:pacs.009.001.08"
    elementFormDefault="qualified">
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="Othr" type="c9:GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="c9:ActiveCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="c9:ActiveCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.01"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="c9:FinancialInstitutionIdentification18"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_TCH">
    <xs:sequence>
      <xs:element name="FinInstnId" type="c9:FinancialInstitutionIdentification18_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount38">
    <xs:sequence>
      <xs:element name="Id" type="c9:AccountIdentification4Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification3Choice">
    <xs:choice>
      <xs:element name="Cd" type="c9:ExternalCashClearingSystem1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="MmbId" type="c9:Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_TCH">
    <xs:sequence>
      <xs:element name="MmbId" type="c9:Max35Text_TCH_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransaction36">
    <xs:sequence>
      <xs:element name="PmtId" type="c9:PaymentIdentification7"/>
      <xs:element name="PmtTpInf" type="c9:PaymentTypeInformation28"/>
      <xs:element name="IntrBkSttlmAmt" type="c9:ActiveCurrencyAndAmount"/>
      <xs:element name="InstgAgt" type="c9:BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="InstdAgt" type="c9:BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="Dbtr" type="c9:BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="DbtrAcct" type="c9:CashAccount38" minOccurs="0"/>
      <xs:element name="Cdtr" type="c9:BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="CdtrAcct" type="c9:CashAccount38"/>
      <xs:element name="RmtInf" type="c9:RemittanceInformation2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransaction36_TCH">
    <xs:sequence>
      <xs:element name="PmtId" type="c9:PaymentIdentification7_TCH"/>
      <xs:element name="PmtTpInf" type="c9:PaymentTypeInformation28_TCH"/>
      <xs:element name="IntrBkSttlmAmt" type="c9:ActiveCurrencyAndAmount"/>
      <xs:element name="InstgAgt" type="c9:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="InstdAgt" type="c9:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="Dbtr" type="c9:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="DbtrAcct" type="c9:CashAccount38" minOccurs="0"/>
      <xs:element name="Cdtr" type="c9:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="CdtrAcct" type="c9:CashAccount38"/>
      <xs:element name="RmtInf" type="c9:RemittanceInformation2_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="FICdtTrf" type="c9:FinancialInstitutionCreditTransferV08"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Document_TCH">
    <xs:sequence>
      <xs:element name="FICdtTrf" type="c9:FinancialInstitutionCreditTransferV08_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalCashClearingSystem1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TCH"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SDVA"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionCreditTransferV08">
    <xs:annotation>
      <xs:documentation gefeg:label="ChangeDate">April 2019</xs:documentation>
      <xs:documentation gefeg:label="ChangeNote">Release 2.9 (2019)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="c9:GroupHeader93">
        <xs:annotation>
          <xs:documentation gefeg:label="Index">1.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CdtTrfTxInf" type="c9:CreditTransferTransaction36">
        <xs:annotation>
          <xs:documentation gefeg:label="Index">2.0</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionCreditTransferV08_TCH">
    <xs:annotation>
      <xs:documentation gefeg:label="ChangeDate">April 2019</xs:documentation>
      <xs:documentation gefeg:label="ChangeNote">Release 2.9 (2019)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="c9:GroupHeader93_TCH">
        <xs:annotation>
          <xs:documentation gefeg:label="Index">1.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CdtTrfTxInf" type="c9:CreditTransferTransaction36_TCH">
        <xs:annotation>
          <xs:documentation gefeg:label="Index">2.0</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="c9:ClearingSystemMemberIdentification2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18_TCH">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="c9:ClearingSystemMemberIdentification2_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="c9:Max34Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader93">
    <xs:sequence>
      <xs:element name="MsgId" type="c9:Max35Text"/>
      <xs:element name="CreDtTm" type="c9:ISODateTime"/>
      <xs:element name="NbOfTxs" type="c9:Max1NumericText"/>
      <xs:element name="TtlIntrBkSttlmAmt" type="c9:ActiveCurrencyAndAmount"/>
      <xs:element name="IntrBkSttlmDt" type="c9:ISODate"/>
      <xs:element name="SttlmInf" type="c9:SettlementInstruction7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader93_TCH">
    <xs:sequence>
      <xs:element name="MsgId" type="c9:Max35Text_TCH"/>
      <xs:element name="CreDtTm" type="c9:ISODateTime"/>
      <xs:element name="NbOfTxs" type="c9:Max1NumericText"/>
      <xs:element name="TtlIntrBkSttlmAmt" type="c9:ActiveCurrencyAndAmount"/>
      <xs:element name="IntrBkSttlmDt" type="c9:ISODate"/>
      <xs:element name="SttlmInf" type="c9:SettlementInstruction7_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max1NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1]{1,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="M[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_3">
    <xs:restriction base="xs:string">
      <xs:minLength value="9"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentIdentification7">
    <xs:sequence>
      <xs:element name="InstrId" type="c9:Max35Text"/>
      <xs:element name="EndToEndId" type="c9:Max35Text"/>
      <xs:element name="TxId" type="c9:Max35Text"/>
      <xs:element name="ClrSysRef" type="c9:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification7_TCH">
    <xs:sequence>
      <xs:element name="InstrId" type="c9:Max35Text_TCH_2"/>
      <xs:element name="EndToEndId" type="c9:Max35Text"/>
      <xs:element name="TxId" type="c9:Max35Text"/>
      <xs:element name="ClrSysRef" type="c9:Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation28">
    <xs:sequence>
      <xs:element name="SvcLvl" type="c9:ServiceLevel8Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation28_TCH">
    <xs:sequence>
      <xs:element name="SvcLvl" type="c9:ServiceLevel8Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation2">
    <xs:sequence>
      <xs:element name="Ustrd" type="c9:Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation2_TCH">
    <xs:sequence>
      <xs:element name="Ustrd" type="c9:Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:choice>
      <xs:element name="Cd" type="c9:ExternalServiceLevel1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="SettlementInstruction7">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="c9:SettlementMethod1Code"/>
      <xs:element name="ClrSys" type="c9:ClearingSystemIdentification3Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettlementInstruction7_TCH">
    <xs:sequence>
      <xs:element name="SttlmMtd" type="c9:SettlementMethod1Code"/>
      <xs:element name="ClrSys" type="c9:ClearingSystemIdentification3Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SettlementMethod1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CLRG"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
