xsd/messages_urn_iso_std_iso_20022_tech_xsd_pain_013_001_07.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:pr="urn:iso:std:iso:20022:tech:xsd:pain.013.001.07"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:gefeg="http://www.gefeg.com/public"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.013.001.07"
    elementFormDefault="qualified">
  <xs:complexType name="AccountIdentification4Choice">
    <xs:choice>
      <xs:element name="Othr" type="pr:GenericAccountIdentification1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="pr:ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="pr:ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0.01"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USD"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmountType4Choice">
    <xs:choice>
      <xs:element name="InstdAmt" type="pr:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6">
    <xs:sequence>
      <xs:element name="FinInstnId" type="pr:FinancialInstitutionIdentification18"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification6_TCH">
    <xs:sequence>
      <xs:element name="FinInstnId" type="pr:FinancialInstitutionIdentification18_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount38">
    <xs:sequence>
      <xs:element name="Id" type="pr:AccountIdentification4Choice"/>
      <xs:element name="Nm" type="pr:Max70Text" minOccurs="0"/>
      <xs:element name="Prxy" type="pr:ProxyAccountIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount38_TCH">
    <xs:sequence>
      <xs:element name="Id" type="pr:AccountIdentification4Choice"/>
      <xs:element name="Nm" type="pr:Max70Text" minOccurs="0"/>
      <xs:element name="Prxy" type="pr:ProxyAccountIdentification1_TCH" minOccurs="0">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">Removal of the rule and change of IPS from C to O.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount38_TCH_2">
    <xs:sequence>
      <xs:element name="Id" type="pr:AccountIdentification4Choice"/>
      <xs:element name="Nm" type="pr:Max70Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:choice>
      <xs:element name="Prtry" type="pr:CatePurpProp"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="CatePurpProp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BUSINESS"/>
      <xs:enumeration value="CONSUMER"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ChargeBearerType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SLEV"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="MmbId" type="pr:Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_TCH">
    <xs:sequence>
      <xs:element name="MmbId" type="pr:Max35Text_TCH_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact4">
    <xs:sequence>
      <xs:element name="PhneNb" type="pr:PhoneNumber" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AD"/>
      <xs:enumeration value="AE"/>
      <xs:enumeration value="AF"/>
      <xs:enumeration value="AG"/>
      <xs:enumeration value="AI"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AM"/>
      <xs:enumeration value="AO"/>
      <xs:enumeration value="AQ"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AS"/>
      <xs:enumeration value="AT"/>
      <xs:enumeration value="AU"/>
      <xs:enumeration value="AW"/>
      <xs:enumeration value="AX"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="BA"/>
      <xs:enumeration value="BB"/>
      <xs:enumeration value="BD"/>
      <xs:enumeration value="BE"/>
      <xs:enumeration value="BF"/>
      <xs:enumeration value="BG"/>
      <xs:enumeration value="BH"/>
      <xs:enumeration value="BI"/>
      <xs:enumeration value="BJ"/>
      <xs:enumeration value="BL"/>
      <xs:enumeration value="BM"/>
      <xs:enumeration value="BN"/>
      <xs:enumeration value="BO"/>
      <xs:enumeration value="BQ"/>
      <xs:enumeration value="BR"/>
      <xs:enumeration value="BS"/>
      <xs:enumeration value="BT"/>
      <xs:enumeration value="BV"/>
      <xs:enumeration value="BW"/>
      <xs:enumeration value="BY"/>
      <xs:enumeration value="BZ"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CC"/>
      <xs:enumeration value="CD"/>
      <xs:enumeration value="CF"/>
      <xs:enumeration value="CG"/>
      <xs:enumeration value="CH"/>
      <xs:enumeration value="CI"/>
      <xs:enumeration value="CK"/>
      <xs:enumeration value="CL"/>
      <xs:enumeration value="CM"/>
      <xs:enumeration value="CN"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="CR"/>
      <xs:enumeration value="CU"/>
      <xs:enumeration value="CV"/>
      <xs:enumeration value="CW"/>
      <xs:enumeration value="CX"/>
      <xs:enumeration value="CY"/>
      <xs:enumeration value="CZ"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="DJ"/>
      <xs:enumeration value="DK"/>
      <xs:enumeration value="DM"/>
      <xs:enumeration value="DO"/>
      <xs:enumeration value="DZ"/>
      <xs:enumeration value="EC"/>
      <xs:enumeration value="EE"/>
      <xs:enumeration value="EG"/>
      <xs:enumeration value="EH"/>
      <xs:enumeration value="ER"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="ET"/>
      <xs:enumeration value="FI"/>
      <xs:enumeration value="FJ"/>
      <xs:enumeration value="FK"/>
      <xs:enumeration value="FM"/>
      <xs:enumeration value="FO"/>
      <xs:enumeration value="FR"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="GB"/>
      <xs:enumeration value="GD"/>
      <xs:enumeration value="GE"/>
      <xs:enumeration value="GF"/>
      <xs:enumeration value="GG"/>
      <xs:enumeration value="GH"/>
      <xs:enumeration value="GI"/>
      <xs:enumeration value="GL"/>
      <xs:enumeration value="GM"/>
      <xs:enumeration value="GN"/>
      <xs:enumeration value="GP"/>
      <xs:enumeration value="GQ"/>
      <xs:enumeration value="GR"/>
      <xs:enumeration value="GS"/>
      <xs:enumeration value="GT"/>
      <xs:enumeration value="GU"/>
      <xs:enumeration value="GW"/>
      <xs:enumeration value="GY"/>
      <xs:enumeration value="HK"/>
      <xs:enumeration value="HM"/>
      <xs:enumeration value="HN"/>
      <xs:enumeration value="HR"/>
      <xs:enumeration value="HT"/>
      <xs:enumeration value="HU"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IE"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IM"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="IO"/>
      <xs:enumeration value="IQ"/>
      <xs:enumeration value="IR"/>
      <xs:enumeration value="IS"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="JE"/>
      <xs:enumeration value="JM"/>
      <xs:enumeration value="JO"/>
      <xs:enumeration value="JP"/>
      <xs:enumeration value="KE"/>
      <xs:enumeration value="KG"/>
      <xs:enumeration value="KH"/>
      <xs:enumeration value="KI"/>
      <xs:enumeration value="KM"/>
      <xs:enumeration value="KN"/>
      <xs:enumeration value="KP"/>
      <xs:enumeration value="KR"/>
      <xs:enumeration value="KW"/>
      <xs:enumeration value="KY"/>
      <xs:enumeration value="KZ"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="LB"/>
      <xs:enumeration value="LC"/>
      <xs:enumeration value="LI"/>
      <xs:enumeration value="LK"/>
      <xs:enumeration value="LR"/>
      <xs:enumeration value="LS"/>
      <xs:enumeration value="LT"/>
      <xs:enumeration value="LU"/>
      <xs:enumeration value="LV"/>
      <xs:enumeration value="LY"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MC"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="ME"/>
      <xs:enumeration value="MF"/>
      <xs:enumeration value="MG"/>
      <xs:enumeration value="MH"/>
      <xs:enumeration value="MK"/>
      <xs:enumeration value="ML"/>
      <xs:enumeration value="MM"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MP"/>
      <xs:enumeration value="MQ"/>
      <xs:enumeration value="MR"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="MU"/>
      <xs:enumeration value="MV"/>
      <xs:enumeration value="MW"/>
      <xs:enumeration value="MX"/>
      <xs:enumeration value="MY"/>
      <xs:enumeration value="MZ"/>
      <xs:enumeration value="NA"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NF"/>
      <xs:enumeration value="NG"/>
      <xs:enumeration value="NI"/>
      <xs:enumeration value="NL"/>
      <xs:enumeration value="NO"/>
      <xs:enumeration value="NP"/>
      <xs:enumeration value="NR"/>
      <xs:enumeration value="NU"/>
      <xs:enumeration value="NZ"/>
      <xs:enumeration value="OM"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PE"/>
      <xs:enumeration value="PF"/>
      <xs:enumeration value="PG"/>
      <xs:enumeration value="PH"/>
      <xs:enumeration value="PK"/>
      <xs:enumeration value="PL"/>
      <xs:enumeration value="PM"/>
      <xs:enumeration value="PN"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="PS"/>
      <xs:enumeration value="PT"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="PY"/>
      <xs:enumeration value="QA"/>
      <xs:enumeration value="RE"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RS"/>
      <xs:enumeration value="RU"/>
      <xs:enumeration value="RW"/>
      <xs:enumeration value="SA"/>
      <xs:enumeration value="SB"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="SE"/>
      <xs:enumeration value="SG"/>
      <xs:enumeration value="SH"/>
      <xs:enumeration value="SI"/>
      <xs:enumeration value="SJ"/>
      <xs:enumeration value="SK"/>
      <xs:enumeration value="SL"/>
      <xs:enumeration value="SM"/>
      <xs:enumeration value="SN"/>
      <xs:enumeration value="SO"/>
      <xs:enumeration value="SR"/>
      <xs:enumeration value="SS"/>
      <xs:enumeration value="ST"/>
      <xs:enumeration value="SV"/>
      <xs:enumeration value="SX"/>
      <xs:enumeration value="SY"/>
      <xs:enumeration value="SZ"/>
      <xs:enumeration value="TC"/>
      <xs:enumeration value="TD"/>
      <xs:enumeration value="TF"/>
      <xs:enumeration value="TG"/>
      <xs:enumeration value="TH"/>
      <xs:enumeration value="TJ"/>
      <xs:enumeration value="TK"/>
      <xs:enumeration value="TL"/>
      <xs:enumeration value="TM"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TO"/>
      <xs:enumeration value="TR"/>
      <xs:enumeration value="TT"/>
      <xs:enumeration value="TV"/>
      <xs:enumeration value="TW"/>
      <xs:enumeration value="TZ"/>
      <xs:enumeration value="UA"/>
      <xs:enumeration value="UG"/>
      <xs:enumeration value="UM"/>
      <xs:enumeration value="US"/>
      <xs:enumeration value="UY"/>
      <xs:enumeration value="UZ"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="VC"/>
      <xs:enumeration value="VE"/>
      <xs:enumeration value="VG"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="VN"/>
      <xs:enumeration value="VU"/>
      <xs:enumeration value="WF"/>
      <xs:enumeration value="WS"/>
      <xs:enumeration value="YE"/>
      <xs:enumeration value="YT"/>
      <xs:enumeration value="ZA"/>
      <xs:enumeration value="ZM"/>
      <xs:enumeration value="ZW"/>
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorPaymentActivationRequestV07">
    <xs:annotation>
      <xs:documentation gefeg:label="ChangeDate">July 2019</xs:documentation>
      <xs:documentation gefeg:label="ChangeNote">Release 2.9 (2019)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="pr:GroupHeader78">
        <xs:annotation>
          <xs:documentation gefeg:label="Index">1.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtInf" type="pr:PaymentInstruction31">
        <xs:annotation>
          <xs:documentation gefeg:label="Index">2.0</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorPaymentActivationRequestV07_TCH">
    <xs:annotation>
      <xs:documentation gefeg:label="ChangeDate">July 2019</xs:documentation>
      <xs:documentation gefeg:label="ChangeNote">Release 2.9 (2019)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GrpHdr" type="pr:GroupHeader78_TCH">
        <xs:annotation>
          <xs:documentation gefeg:label="Index">1.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtInf" type="pr:PaymentInstruction31_TCH">
        <xs:annotation>
          <xs:documentation gefeg:label="Index">2.0</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransaction35">
    <xs:sequence>
      <xs:element name="PmtId" type="pr:PaymentIdentification6"/>
      <xs:element name="PmtTpInf" type="pr:PaymentTypeInformation26"/>
      <xs:element name="PmtCond" type="pr:PaymentCondition1" minOccurs="0"/>
      <xs:element name="Amt" type="pr:AmountType4Choice"/>
      <xs:element name="ChrgBr" type="pr:ChargeBearerType1Code"/>
      <xs:element name="CdtrAgt" type="pr:BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="Cdtr" type="pr:PartyIdentification135"/>
      <xs:element name="CdtrAcct" type="pr:CashAccount38"/>
      <xs:element name="UltmtCdtr" type="pr:PartyIdentification135" minOccurs="0"/>
      <xs:element name="InstrForCdtrAgt" type="pr:InstructionForCreditorAgent1" minOccurs="0" maxOccurs="5"/>
      <xs:element name="RltdRmtInf" type="pr:RemittanceLocation7" minOccurs="0"/>
      <xs:element name="RmtInf" type="pr:RemittanceInformation16" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransaction35_TCH">
    <xs:sequence>
      <xs:element name="PmtId" type="pr:PaymentIdentification6"/>
      <xs:element name="PmtTpInf" type="pr:PaymentTypeInformation26_TCH"/>
      <xs:element name="PmtCond" type="pr:PaymentCondition1" minOccurs="0"/>
      <xs:element name="Amt" type="pr:AmountType4Choice"/>
      <xs:element name="ChrgBr" type="pr:ChargeBearerType1Code"/>
      <xs:element name="CdtrAgt" type="pr:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="Cdtr" type="pr:PartyIdentification135_TCH_4"/>
      <xs:element name="CdtrAcct" type="pr:CashAccount38_TCH_2"/>
      <xs:element name="UltmtCdtr" type="pr:PartyIdentification135_TCH_3" minOccurs="0"/>
      <xs:element name="InstrForCdtrAgt" type="pr:InstructionForCreditorAgent1_TCH" minOccurs="0" maxOccurs="5">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">New code 'RECI' (Receiver Information) and new error code '9954' for failing validation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RltdRmtInf" type="pr:RemittanceLocation7_TCH" minOccurs="0"/>
      <xs:element name="RmtInf" type="pr:RemittanceInformation16_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndDateTime2Choice">
    <xs:choice>
      <xs:element name="Dt" type="pr:ISODate"/>
      <xs:element name="DtTm" type="pr:ISODateTime"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndDateTime2Choice_TCH">
    <xs:choice>
      <xs:element name="Dt" type="pr:ISODate">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">New rule as date cannot before requestd execution date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DtTm" type="pr:ISODateTime">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">New rule as date cannot before requestd execution date.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth1">
    <xs:sequence>
      <xs:element name="BirthDt" type="pr:ISODate"/>
      <xs:element name="CityOfBirth" type="pr:Max35Text"/>
      <xs:element name="CtryOfBirth" type="pr:CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountAndType1">
    <xs:sequence>
      <xs:element name="Tp" type="pr:DiscountAmountType1Choice"/>
      <xs:element name="Amt" type="pr:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountAndType1_TCH">
    <xs:sequence>
      <xs:element name="Tp" type="pr:DiscountAmountType1Choice_TCH"/>
      <xs:element name="Amt" type="pr:ActiveOrHistoricCurrencyAndAmount"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscountAmountType1Choice">
    <xs:choice>
      <xs:element name="Prtry" type="pr:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="DiscountAmountType1Choice_TCH">
    <xs:choice>
      <xs:element name="Prtry" type="pr:Max35Text_TCH_4"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="CdtrPmtActvtnReq" type="pr:CreditorPaymentActivationRequestV07"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType6Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CINV"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType6Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CINV"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document_TCH">
    <xs:sequence>
      <xs:element name="CdtrPmtActvtnReq" type="pr:CreditorPaymentActivationRequestV07_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SDVA"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialInstitutionIdentification18">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="pr:ClearingSystemMemberIdentification2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification18_TCH">
    <xs:sequence>
      <xs:element name="ClrSysMmbId" type="pr:ClearingSystemMemberIdentification2_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max34Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max35Text"/>
      <xs:element name="SchmeNm" type="pr:OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_TCH">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max35Text"/>
      <xs:element name="SchmeNm" type="pr:OrganisationIdentificationSchemeName1Choice_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_TCH_2">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max35Text"/>
      <xs:element name="SchmeNm" type="pr:PersonIdentificationSchemeName1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader78">
    <xs:sequence>
      <xs:element name="MsgId" type="pr:Max35Text"/>
      <xs:element name="CreDtTm" type="pr:ISODateTime"/>
      <xs:element name="NbOfTxs" type="pr:Max1NumericText"/>
      <xs:element name="InitgPty" type="pr:PartyIdentification135"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader78_TCH">
    <xs:sequence>
      <xs:element name="MsgId" type="pr:Max35Text_TCH"/>
      <xs:element name="CreDtTm" type="pr:ISODateTime"/>
      <xs:element name="NbOfTxs" type="pr:Max1NumericText"/>
      <xs:element name="InitgPty" type="pr:PartyIdentification135_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Instruction3Code_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRTK"/>
      <xs:enumeration value="RECI"/>
      <xs:enumeration value="TKCM"/>
      <xs:enumeration value="TKSG"/>
      <xs:enumeration value="TKSP"/>
      <xs:enumeration value="TKVE"/>
      <xs:enumeration value="TKXP"/>
      <xs:enumeration value="TOKN"/>
      <xs:enumeration value="VLTK"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InstructionForCreditorAgent1">
    <xs:sequence>
      <xs:element name="Cd" type="pr:Instruction3Code_TCH"/>
      <xs:element name="InstrInf" type="pr:Max140Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstructionForCreditorAgent1_TCH">
    <xs:sequence>
      <xs:element name="Cd" type="pr:Instruction3Code_TCH">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">New code 'RECI' (Receiver Information) and token contral codes (DC01 - DC05)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstrInf" type="pr:Max140Text">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">New code 'RECI' (Receiver Information) describition</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="LEIIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z0-9]{18,18}[0-9]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:choice>
      <xs:element name="Prtry" type="pr:LocalProp"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="LocalInstrument2Choice_TCH">
    <xs:choice>
      <xs:element name="Prtry" type="pr:LocalProp_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="LocalProp">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INTERMEDIARY"/>
      <xs:enumeration value="IXB"/>
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="ZELLE"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LocalProp_TCH">
    <xs:restriction base="xs:string">
      <xs:enumeration value="INTERMEDIARY"/>
      <xs:enumeration value="IXB"/>
      <xs:enumeration value="STANDARD"/>
      <xs:enumeration value="ZELLE"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max1NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1]{1,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text_TCH">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="M[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="9"/>
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_3">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[0-9]{4}(((01|03|05|07|08|10|12)((0[1-9])|([1-2][0-9])|(3[0-1])))|((04|06|09|11)((0[1-9])|([1-2][0-9])|30))|((02)((0[1-9])|([1-2][0-9]))))[A-Z0-9]{11}.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_4">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DSCT"/>
      <xs:enumeration value="FULL"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_TCH_5">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CSCM"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification29">
    <xs:sequence>
      <xs:element name="LEI" type="pr:LEIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="pr:GenericOrganisationIdentification1" minOccurs="0" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH">
    <xs:sequence>
      <xs:element name="Othr" type="pr:GenericOrganisationIdentification1_TCH" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH_2">
    <xs:sequence>
      <xs:element name="LEI" type="pr:LEIIdentifier"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH_3">
    <xs:sequence>
      <xs:element name="LEI" type="pr:LEIIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="pr:GenericOrganisationIdentification1_TCH" minOccurs="0" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification29_TCH_4">
    <xs:sequence>
      <xs:element name="Othr" type="pr:GenericOrganisationIdentification1_TCH_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Prtry" type="pr:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice_TCH">
    <xs:choice>
      <xs:element name="Prtry" type="pr:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29"/>
      <xs:element name="PrvtId" type="pr:PersonIdentification13"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_2">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29_TCH_2"/>
      <xs:element name="PrvtId" type="pr:PersonIdentification13_TCH"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_3">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29_TCH_3"/>
      <xs:element name="PrvtId" type="pr:PersonIdentification13_TCH_2"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Party38Choice_TCH_4">
    <xs:choice>
      <xs:element name="OrgId" type="pr:OrganisationIdentification29_TCH_4"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135">
    <xs:sequence>
      <xs:element name="Nm" type="pr:Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="pr:PostalAddress24" minOccurs="0"/>
      <xs:element name="Id" type="pr:Party38Choice" minOccurs="0"/>
      <xs:element name="CtctDtls" type="pr:Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH">
    <xs:sequence>
      <xs:element name="Id" type="pr:Party38Choice_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_2">
    <xs:sequence>
      <xs:element name="Nm" type="pr:Max140Text"/>
      <xs:element name="PstlAdr" type="pr:PostalAddress24_TCH" minOccurs="0">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">Changed from C to O</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Id" type="pr:Party38Choice_TCH_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">Changed from C to O</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_3">
    <xs:sequence>
      <xs:element name="Nm" type="pr:Max140Text"/>
      <xs:element name="PstlAdr" type="pr:PostalAddress24_TCH" minOccurs="0"/>
      <xs:element name="Id" type="pr:Party38Choice_TCH_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_4">
    <xs:sequence>
      <xs:element name="Nm" type="pr:Max140Text"/>
      <xs:element name="PstlAdr" type="pr:PostalAddress24_TCH" minOccurs="0">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">Changed from C to O</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Id" type="pr:Party38Choice_TCH_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">Changed from C to O</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CtctDtls" type="pr:Contact4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification135_TCH_5">
    <xs:sequence>
      <xs:element name="Id" type="pr:Party38Choice_TCH_4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentCondition1">
    <xs:sequence>
      <xs:element name="AmtModAllwd" type="pr:TrueFalseIndicator"/>
      <xs:element name="EarlyPmtAllwd" type="pr:TrueFalseIndicator"/>
      <xs:element name="GrntedPmtReqd" type="pr:TrueFalseIndicator"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification6">
    <xs:sequence>
      <xs:element name="InstrId" type="pr:Max35Text" minOccurs="0"/>
      <xs:element name="EndToEndId" type="pr:Max35Text"/>
      <xs:element name="UETR" type="pr:UUIDv4Identifier" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentCondition1_TCH">
    <xs:sequence>
      <xs:element name="AmtModAllwd" type="pr:TrueFalseIndicator">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">Changed from O to M</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EarlyPmtAllwd" type="pr:TrueFalseIndicator">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">Changed from O to M</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GrntedPmtReqd" type="pr:TrueFalseIndicator">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">Changed from O to M</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentInstruction31">
    <xs:sequence>
      <xs:element name="PmtInfId" type="pr:Max35Text"/>
      <xs:element name="PmtMtd" type="pr:PaymentMethod7Code"/>
      <xs:element name="ReqdExctnDt" type="pr:DateAndDateTime2Choice"/>
      <xs:element name="XpryDt" type="pr:DateAndDateTime2Choice"/>
      <xs:element name="Dbtr" type="pr:PartyIdentification135"/>
      <xs:element name="DbtrAcct" type="pr:CashAccount38"/>
      <xs:element name="DbtrAgt" type="pr:BranchAndFinancialInstitutionIdentification6"/>
      <xs:element name="UltmtDbtr" type="pr:PartyIdentification135" minOccurs="0"/>
      <xs:element name="CdtTrfTx" type="pr:CreditTransferTransaction35"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstruction31_TCH">
    <xs:sequence>
      <xs:element name="PmtInfId" type="pr:Max35Text_TCH_3"/>
      <xs:element name="PmtMtd" type="pr:PaymentMethod7Code"/>
      <xs:element name="ReqdExctnDt" type="pr:DateAndDateTime2Choice"/>
      <xs:element name="XpryDt" type="pr:DateAndDateTime2Choice"/>
      <xs:element name="Dbtr" type="pr:PartyIdentification135_TCH_2"/>
      <xs:element name="DbtrAcct" type="pr:CashAccount38_TCH"/>
      <xs:element name="DbtrAgt" type="pr:BranchAndFinancialInstitutionIdentification6_TCH"/>
      <xs:element name="UltmtDbtr" type="pr:PartyIdentification135_TCH_3" minOccurs="0"/>
      <xs:element name="CdtTrfTx" type="pr:CreditTransferTransaction35_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentMethod7Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="TRF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentTypeInformation26">
    <xs:sequence>
      <xs:element name="SvcLvl" type="pr:ServiceLevel8Choice"/>
      <xs:element name="LclInstrm" type="pr:LocalInstrument2Choice"/>
      <xs:element name="CtgyPurp" type="pr:CategoryPurpose1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation26_TCH">
    <xs:sequence>
      <xs:element name="SvcLvl" type="pr:ServiceLevel8Choice"/>
      <xs:element name="LclInstrm" type="pr:LocalInstrument2Choice_TCH"/>
      <xs:element name="CtgyPurp" type="pr:CategoryPurpose1Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="pr:DateAndPlaceOfBirth1" minOccurs="0"/>
      <xs:element name="Othr" type="pr:GenericPersonIdentification1" minOccurs="0" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13_TCH">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="pr:DateAndPlaceOfBirth1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification13_TCH_2">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="pr:DateAndPlaceOfBirth1" minOccurs="0"/>
      <xs:element name="Othr" type="pr:GenericPersonIdentification1" minOccurs="0" maxOccurs="5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:choice>
      <xs:element name="Prtry" type="pr:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress24">
    <xs:sequence>
      <xs:element name="StrtNm" type="pr:Max70Text"/>
      <xs:element name="BldgNb" type="pr:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="pr:Max16Text"/>
      <xs:element name="TwnNm" type="pr:Max35Text"/>
      <xs:element name="CtrySubDvsn" type="pr:Max35Text"/>
      <xs:element name="Ctry" type="pr:CountryCode"/>
      <xs:element name="AdrLine" type="pr:Max70Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress24_TCH">
    <xs:sequence>
      <xs:element name="StrtNm" type="pr:Max70Text"/>
      <xs:element name="BldgNb" type="pr:Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="pr:Max16Text"/>
      <xs:element name="TwnNm" type="pr:Max35Text"/>
      <xs:element name="CtrySubDvsn" type="pr:Max35Text"/>
      <xs:element name="Ctry" type="pr:CountryCode"/>
      <xs:element name="AdrLine" type="pr:Max70Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProxyAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max2048Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProxyAccountIdentification1_TCH">
    <xs:sequence>
      <xs:element name="Id" type="pr:Max2048Text_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation7">
    <xs:sequence>
      <xs:element name="Tp" type="pr:ReferredDocumentType5" minOccurs="0"/>
      <xs:element name="Nb" type="pr:Max35Text"/>
      <xs:element name="RltdDt" type="pr:ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation7_TCH">
    <xs:sequence>
      <xs:element name="Tp" type="pr:ReferredDocumentType5_TCH" minOccurs="0"/>
      <xs:element name="Nb" type="pr:Max35Text"/>
      <xs:element name="RltdDt" type="pr:ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType5">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="pr:ReferredDocumentType5Choice"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType5Choice">
    <xs:choice>
      <xs:element name="Cd" type="pr:DocumentType6Code"/>
      <xs:element name="Prtry" type="pr:Max35Text"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType5Choice_TCH">
    <xs:choice>
      <xs:element name="Cd" type="pr:DocumentType6Code_TCH"/>
      <xs:element name="Prtry" type="pr:Max35Text_TCH_5"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType5_TCH">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="pr:ReferredDocumentType5Choice_TCH"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount2">
    <xs:sequence>
      <xs:element name="DscntApldAmt" type="pr:DiscountAmountAndType1" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount2_TCH">
    <xs:sequence>
      <xs:element name="DscntApldAmt" type="pr:DiscountAmountAndType1_TCH" minOccurs="0" maxOccurs="3">
        <xs:annotation>
          <xs:documentation gefeg:label="ChangeNote">New rule if DSCT is present FULL must be present too.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation16">
    <xs:sequence>
      <xs:element name="Ustrd" type="pr:Max140Text" minOccurs="0"/>
      <xs:element name="Strd" type="pr:StructuredRemittanceInformation16" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation16_TCH">
    <xs:sequence>
      <xs:element name="Ustrd" type="pr:Max140Text" minOccurs="0"/>
      <xs:element name="Strd" type="pr:StructuredRemittanceInformation16_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocation7">
    <xs:sequence>
      <xs:element name="RmtId" type="pr:Max35Text" minOccurs="0"/>
      <xs:element name="RmtLctnDtls" type="pr:RemittanceLocationData1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocation7_TCH">
    <xs:sequence>
      <xs:element name="RmtId" type="pr:Max35Text" minOccurs="0"/>
      <xs:element name="RmtLctnDtls" type="pr:RemittanceLocationData1_TCH" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocationData1">
    <xs:sequence>
      <xs:element name="Mtd" type="pr:RemittanceLocationMethod2Code"/>
      <xs:element name="ElctrncAdr" type="pr:Max2048Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceLocationData1_TCH">
    <xs:sequence>
      <xs:element name="Mtd" type="pr:RemittanceLocationMethod2Code"/>
      <xs:element name="ElctrncAdr" type="pr:Max2048Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RemittanceLocationMethod2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EMAL"/>
      <xs:enumeration value="URID"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:choice>
      <xs:element name="Cd" type="pr:ExternalServiceLevel1Code"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation16">
    <xs:sequence>
      <xs:element name="RfrdDocInf" type="pr:ReferredDocumentInformation7" minOccurs="0" maxOccurs="5"/>
      <xs:element name="RfrdDocAmt" type="pr:RemittanceAmount2" minOccurs="0"/>
      <xs:element name="Invcr" type="pr:PartyIdentification135" minOccurs="0"/>
      <xs:element name="Invcee" type="pr:PartyIdentification135" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation16_TCH">
    <xs:sequence>
      <xs:element name="RfrdDocInf" type="pr:ReferredDocumentInformation7_TCH" minOccurs="0" maxOccurs="5"/>
      <xs:element name="RfrdDocAmt" type="pr:RemittanceAmount2_TCH" minOccurs="0"/>
      <xs:element name="Invcr" type="pr:PartyIdentification135_TCH_5" minOccurs="0"/>
      <xs:element name="Invcee" type="pr:PartyIdentification135_TCH_5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TrueFalseIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="UUIDv4Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
